{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 glass">

        <h3 class="mb-4 text-center">🔐 Login</h3>

        <form method="post">
            {% csrf_token %}

            <input class="form-control mb-3" name="username" placeholder="Username">
            <input class="form-control mb-3" type="password" name="password" placeholder="Password">

            <button class="btn btn-primary w-100 btn-modern">
                Login
            </button>
        </form>

        <!-- 👇 добавили -->
        <div class="text-center mt-3">
            <small>
                Don’t have account?
                <a href="{% url 'register' %}">Register</a>
            </small>
        </div>

    </div>
</div>
{% endblock %}